<div class="news-card">
  <div class="news-card-image">
    <img src="images/TwiJS.png" alt="">
  </div>
  <div class="news-card-content">
    <h1 class="title">Twighlight Sparkle recommends learning JS!</h1>
    <p class="description">Princess of Equestria gives her opinion on JavaScript usability.</p>
    <div class="data">
        <div class="data-item">
            <h2 class="data-title">author: Julia Diachenko</h2>
            <h2 class="data-title">06.12.2005 22:55</h2>
            <h2 class="data-title">376 views</h2>
        </div>
    </div>
    <div class="line"></div>
    <div class="key-words">
      <div class="key-words-list">
        <div class="key-word">JavaScript</div>
        <div class="key-word">Programming</div>
        <div class="key-word">Learning</div>
        <div class="key-word">Interview</div>
      </div>
    </div>
    <button class="button">Read</button>
  </div>
</div>