<div class="news-card">
  <div class="news-card-image">
    <img [src]="'images/' + item.imgUrl"
      [alt]="item.title + ' image'">
  </div>
  <div class="news-card-content">
    <h1 class="title">{{item.title}}</h1>
    <p class="description">{{item.description}}</p>
    <div class="data">
        <div class="data-item">
            <h2 class="data-title">author: {{item.author}}</h2>
            <h2 class="data-title">{{item.date}}</h2>
            <h2 class="data-title">{{item.viewsAmmount}} views</h2>
            <div class="popular-news"
                *ngIf="item.viewsAmmount > 500"
                >
                <h2>Popular news!</h2>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="key-words">
      <div class="key-words-list">
        <div
          class="key-word"
          *ngFor="let keyWord of item.keyWords"
        >
          {{ keyWord }}
        </div>
      </div>
    </div>
    <button 
      class="button"
      [ngClass]="{'read-button': isRead}"
      (click)="onNewsOpen(); isRead=true">Read more...
    </button>
  </div>
  <div
    class="news-text"
    [ngClass]="{ 'opened' : isNewsOpen }">
    <button
      type="button" class="btn-close" aria-label="Close"
      class="close-button scale-on-hover"
      (click)="onNewsClose()">
    </button>
    <p class="main-text">{{ item.mainText }}</p>
  </div>
</div>