.search-bar-place {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:auto;
  height: 10px;
  background: #c5f3f5;
}

.search-line{
  border-radius: 8px;
  border: #1d022f 1px solid;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 150%;
  outline: none;
  width: 600px;
}