.news-card {
  background: #ffffff;
}

.news-card-image {
  width: 100%;
  object-fit: cover;
}

.news-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  height: 32px;
  font-size: 28px;
  line-height: 100%;
  font-weight: 700;
  color: #180234;
}

.description {
  height: 24px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: #054c73;
}

.data {
  margin-top: 8px;
  height: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.data-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.data-title {
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: #054c73;
}

.line {
  margin-top: 8px;
  border-top: 5px solid #a4e1e6;
}

.main-text{
  height: 100px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: #180234;
}